<!DOCTYPE html>
<html data-ng-app="edosoft" data-ng-controller="AppCtrl">
<head>
    <title>Edosoft Factory</title>
    <base href="/">
    <meta charset="utf-8">
    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@edosoftfactory">
    <meta name="twitter:title" content="Edosoft Factory">
    <meta name="twitter:description" content="Your Agile Cloud Company">
    <meta name="twitter:creator" content="@edosoftfactory">
    <meta name="twitter:image:src"
          content="http://pbs.twimg.com/profile_images/526447598823960576/Knf4vl-V_400x400.png">
    <meta property="og:title" content="Edosoft Factory"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://edosoft.es"/>
    <meta property="og:image" content="http://pbs.twimg.com/profile_images/526447598823960576/Knf4vl-V_400x400.png"/>
     <meta name="facebook:card" content="summary">
    <meta name="facebook:site" content="edosoftfactory">
    <meta name="facebook:title" content="Edosoft Factory">
    <meta name="facebook:description" content="Your Agile Cloud Company">
    <meta name="facebook:creator" content="edosoftfactory">

    <meta property="og:description" content="Desarrollo de software a medida y asesoría tecnológica de la mano de Google Cloud Partner de referencia en Canarias.">
    <meta name="description" content="Desarrollo de software a medida y asesoría tecnológica de la mano de Google Cloud Partner de referencia en Canarias."/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    
    <!-- Bing Meta -->
    <meta name="msvalidate.01" content="6503817F71AF63CD52F95DE5631FD62C" />

    <!-- font awesome from BootstrapCDN -->
    <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!--default footer end here-->
    <!-- compiled JavaScript<% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono" rel="stylesheet">
   <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700" rel="stylesheet"
          type="text/css">-->
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" sizes="13x13"/>
    <html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
</head>
<body data-spy="scroll" ui-view="main">
<!--default footer end here-->
<!--About section end-->
<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>    
<!--<script type="text/javascript" src="https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22feeds%22%2C%22version%22%3A%221.0%22%2C%22nocss%22%3Atrue%7D%5D%7D">
</script>-->
<script type="application/ld+json">
{
 "@context" : "http://schema.org",
 "@type" : "Organization",
 "name" : "Edosoft Factory",
 "url" : "http://pre-edosoft.edosoft.es/",
 "sameAs" : [
   "https://plus.google.com/+EdosoftFactory",
   "https://www.facebook.com/edosoftfactory",
   "https://twitter.com/edosoftfactory",
   "https://www.linkedin.com/company/edosoft-factory",
   "https://vimeo.com/edolab"
   "https://www.youtube.com/edosoftfactory"
]
}
</script>
</body>

</html>
