<div class="navbar navbar-default navbar-static-top sticky navegacion-color" role="navigation">
    <div class="container">
        <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
              <a class="navbar-brand" ><img class="dropdown" ng-click="scrollTo('myCarousel')" src="assets/img/bannerwhite.png" alt="logo"  style="max-width:100%; margin-top:-16px;"></a>
        <!--recuadro menu-->
            <div class="outer-menu">
              <input class="checkbox-toggle menubutton" type="checkbox" />
              <div class="hamburger menubutton">
                  <div></div>
              </div>
              <div class="menu continer">
                <div class="row">
                  <div col-md-12>
                    <ul class=" scroll-to">
                      <li class="dropdown active" ng-click="scrollTop('about')"><a href="#about">Sobre Nosotros</a></li>
                      <li class="dropdown" ng-click="scrollTo('services')"><a href="#services">Servicios</a></li>
                        <li><a href="equipo">Equipo</a></li>
                      <li><a href="google-partner">Google Cloud Partner</a></li>
                      <li><a href="http://edolab.com/" target="_blank">Edolab</a></li>
                      <li> <a href="http://blog.edosoft.es//" target="_blank">Blog</a></li>
                      <li><a href="#footer">Contacto</a></li>
                      <li><a href="#">ES</a> / <a ui-sref="home_en">EN</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    <!--/.nav-collapse -->
   </div>
</div>
<div id="video-header" class="video-header ng-scope">
<div style="
    width: 100%;
    height: 100%;
    background-color: rgba(123,164,219,0.7);
    z-index: 99;
    position: absolute;">
</div>

    <h1></h1>
   <!--Video Header-->
<div class="video-header">
    <video autoplay loop="loop" poster="assets/img/atwork.jpeg" style="width: 100%;" class="responsive-vid">
        <source src="assets/video/atwork.mp4" type="video/mp4">
        <source src="assets/video/atwork.ogv" type="video/ogg">
        <img src="assets/img/atwork.jpeg" width="100%" height="100%" alt="video Edosoft Factory">
    </video>
    </div>

</div>

<section id="equipo" class="center-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Equipo Edosoft Factory</h2>
                <p class="description"></p>
            </div>
            <div class="col-md-1 margin20">
            </div>

            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.2s">
                    <img id="photo-juan" class="employee" src="assets/img/equipo/juan.vera.jpg">
                        <h4>Juan Vera</h4>
                        <p style="font-style: italic;  text-align:center">Executive Manager</p>
                 </div>
                <!--service box-->
            </div>
             <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.8s">
                   <img id="photo-aitor" class="employee" src="assets/img/equipo/aitor.carrera.jpg"
                     alt="Aitor Carrera"
                     class="wow animated fadeIn" width=100%>
                        <h4>Aitor Carrera</h4>
                        <p style="font-style: italic;  text-align:center">CTO</p>
                </div>

                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.4s">
                   <img id="photo-isabel" class="employee" src="assets/img/equipo/isabel.caballero.jpg"
                     alt="Isabel Caballero"
                     class="wow animated fadeIn" width=100%>
                    <h4>Isabel Caballero</h4>
                    <p style="font-style: italic;  text-align:center">R&D Manager</p>
                </div>
                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.6s">
                    <img id="photo-efren" class="employee" src="assets/img/equipo/efren.perez.jpg"
                     alt="Efrén Pérez"
                     class="wow animated fadeIn" width=100%>
                    <h4>Efrén Pérez</h4>
                    <p style="font-style: italic;  text-align:center">DevOps</p>
                </div>
            </div>
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.2s">
                    <img id="photo-beatriz" class="employee" src="assets/img/equipo/beatriz.delgado.jpg">
                    <h4>Beatriz Delgado</h4>
                    <p style="font-style: italic;  text-align:center">Head of Department</p>
                </div>
                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-1 margin20">
            </div>

        </div>
        </div>

</section>
<section id="mas" class="center-heading">
    <div class="container">
        <div class="row">

             <div class="col-md-1 margin20">
             </div>
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.2s">
                    <img id="photo-roberto" class="employee" src="assets/img/equipo/roberto.gonzalez.jpg">
                    <h4>Roberto González</h4>
                    <p style="font-style: italic;  text-align:center">Full Stack Developer</p>
                </div>
                <!--service box-->
            </div>
             <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.8s">
                   <img id="photo-laura"  class="employee" src="assets/img/equipo/laura.ojeda.jpg"
                     alt="Laura Ojeda"
                     class="wow animated fadeIn" width=100%>
                    <h4>Laura Ojeda</h4>
                    <p style="font-style: italic;  text-align:center">Marketing & Social Media</p>
                </div>

                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.4s">
                   <img id="photo-natanael"  class="employee" src="assets/img/equipo/natanael.armas.jpg"
                     alt="Natanael Armas"
                     class="wow animated fadeIn" width=100%>
                    <h4>Natanael Armas</h4>
                    <p style="font-style: italic;  text-align:center">Senior System Tester</p>
                </div>
                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.6s">
                    <img id="photo-raulvega"  class="employee" src="assets/img/equipo/raul.vega.jpg"
                     alt="Raúl Vega"
                     class="wow animated fadeIn" width=100%>
                    <h4>Raúl Vega</h4>
                    <p style="font-style: italic;  text-align:center">Senior System Tester</p>
                </div>
                <!--service box-->
            </div>
             <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.6s">
                    <img id="photo-eva" class="employee" src="assets/img/equipo/eva.cardenes.jpg"
                     alt="Eva Cardenas"
                     class="wow animated fadeIn" width=100%>
                    <h4>Eva Cardenes</h4>
                    <p style="font-style: italic;  text-align:center">Marketing & Social Media</p>
                </div>
                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-1 margin20">
            </div>
        </div>
    </div>
</section>
<section id="mas" class="center-heading">
    <div class="container">
        <div class="row">
             <div class="col-md-1 margin20">
             </div>
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.2s">
                    <img id="photo-swan" class="employee" src="assets/img/equipo/swan.rodriguez.jpg">
                    <h4>Swan Rodríguez</h4>
                    <p style="font-style: italic;  text-align:center">Full Stack Developer</p>
                </div>
                <!--service box-->
            </div>
             <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.8s">
                   <img id="photo-pooja"  class="employee" src="assets/img/equipo/pooja.gangwani.jpg"
                     alt="Pooja Gangwani"
                     class="wow animated fadeIn" width=100%>
                    <h4>Pooja Gangwani</h4>
                    <p style="font-style: italic;  text-align:center">Key Account Manager</p>
                </div>

                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.4s">
                   <img id="photo-christopher" class="employee" src="assets/img/equipo/christopher.perez.jpg"
                     alt="Christopher Pérez"
                     class="wow animated fadeIn" width=100%>
                    <h4>Christopher Pérez</h4>
                    <p style="font-style: italic;  text-align:center">DevOps</p>
                </div>
                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.6s">
                    <img id="photo-cristina" class="employee" src="assets/img/equipo/cristina.millares.jpg"
                     alt="Cristinaz Millares"
                     class="wow animated fadeIn" width=100%>
                    <h4>Cristina Millares</h4>
                    <p style="font-style: italic;  text-align:center">Graphic Designer</p>
                </div>
                <!--service box-->
            </div>
             <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.6s">
                    <img id="photo-raulalmeida" class="employee" src="assets/img/equipo/raul.almeida.jpg"
                     alt="Raúl Almeida"
                     class="wow animated fadeIn" width=100%>
                    <h4>Raúl Almeida</h4>
                    <p style="font-style: italic;  text-align:center">DevOps</p>
                </div>
                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-1 margin20">
            </div>
        </div>
    </div>
</section>
<section id="mas" class="center-heading">
    <div class="container">
        <div class="row">

             <div class="col-md-1 margin20">
            </div>
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.2s">
                    <img id="photo-davidverdu" class="employee" src="assets/img/equipo/david.verdu.jpg">
                    <h4>David Verdú</h4>
                    <p style="font-style: italic;  text-align:center">Full Stack Developer</p>
                </div>
                <!--service box-->
            </div>
             <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.8s">
                   <img id="photo-adrian"  class="employee" src="assets/img/equipo/adrian.villares.jpg"
                     alt="Adrián Villares"
                     class="wow animated fadeIn" width=100%>
                    <h4>Adrián Martínez</h4>
                    <p style="font-style: italic; text-align:center">Full Stack Developer</p>
                </div>

                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.4s">
                   <img id="photo-carlosdavid" class="employee" src="assets/img/equipo/carlos.david.jpg"
                     alt="Carlos David"
                     class="wow animated fadeIn" width=100%>
                    <h4>Carlos David</h4>
                    <p style="font-style: italic; text-align:center">Intern</p>
                </div>
                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.6s">
                    <img id="photo-deriman"  class="employee" src="assets/img/equipo/deriman.franco.jpg"
                     alt="Deriman Franco"
                     class="wow animated fadeIn" width=100%>
                    <h4>Deriman Franco</h4>
                    <p style="font-style: italic; text-align:center">R&D Developer</p>
                </div>
                <!--service box-->
            </div>
             <div class="col-md-2 margin20">
                <div class="service-box text-center wow animated fadeInLeft animated"
                     data-wow-delay="0.6s">
                    <img id="photo-eduardoquesada" class="employee" src="assets/img/equipo/eduardo.quesada.jpg"
                     alt="Eduardo Quesada"
                     class="wow animated fadeIn" width=100%>
                    <h4>Eduardo Quesada</h4>
                    <p style="font-style: italic; text-align:center">Full Stack Developer</p>
                </div>
                <!--service box-->
            </div>
            <!--service col-->
            <div class="col-md-1 margin20">

            </div>
        </div>
    </div>
</section>
